<div>
    <div class="row">
        <div class="col-md-12">
            <div>
                <div ng-model="movies">
                    <table class="table table-hover">
                        <tr>
                            <th>MovieId</th>
                            <th>Name</th>
                            <th>PubTime</th>
                            <th>Director</th>
                            <th>Star</th>
                            <th>Delete</th>
                            <th>Edit</th>
                        </tr>
                        <tr ng-repeat="movie in manageMovie.movies">
                            <td>{{$index+1}}</td>
                            <td>{{movie.name}}</td>
                            <td>{{movie.pubTime | pubDateTime}}</td>
                            <td>{{movie.director}}</td>
                            <td>{{movie.star}}</td>
                            <td>
                                <button type="button" class="btn btn-danger btn-xs"
                                        data-toggle="modal" data-target="#myModal"
                                        ng-click="manageMovie.delete_movie($index)">
                                    Delete
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success btn-xs"
                                        data-toggle="modal" data-target="#myModal">Edit
                                </button>
                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
                                     aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="myModalLabel">
                                                    Add Movie {{movie.name}}
                                                </h4>
                                            </div>
                                            <div class="modal-body">
                                                Add Movie {{movie.name}} Successful
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                                    Close
                                                </button>
                                                <button type="button" class="btn btn-primary" data-dismiss="modal"
                                                        aria-label="Close" ng-click="">Save changes
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>

                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>




